@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root is equal to html element */
/* TODO: define -> global font, colour, line height */
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  /* width: 100%;       */
  max-width: 1280px;
  background-color: #ededed;
}

/* Header & Background */
.header {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/header.jpg');
  background-size: cover;
  background-position: center 70%;

  /* intial state */
  opacity: 0;
  transform: scale(1.25);

  /* animation */
  animation: fadeZoomBG 6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  z-index: -1;
}

header > * {
  position: relative;
  z-index: 1;
}

@keyframes fadeZoomBG {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.photo-credit {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  margin: 0;
  opacity: 0.7;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;

  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.header h1 {
  font-size: 82px;
  line-height: 1;
  font-weight: 100;
}

.header h2 {
  font-size: 35px;
  line-height: 1;
  font-weight: 100;
  font-style: italic;
}

.header .photo-credit {
  font-size: 8px;
}

/* Main Content */
main {
  background: rgb(250, 255, 255);
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

/* section { */
/* background: #eee; */
/* margin: 4rem; */
/* padding-right: 4rem; */
/* } */

.welcome-education-profil-container {
  display: flex;
  padding: 5rem;
  gap: 4rem;
  /* gap: clamp(1rem, 5vw, 5rem); */
}

#welcome {
  flex: 8;
  /* background-color: antiquewhite; */
}

#education {
  flex: 5;
  /* background-color: antiquewhite; */
}

#profil {
  flex: 5;
  /* background-color: antiquewhite; */
}

#profil img {
  display: block;
  margin: 0;
  width: 250px;
  height: auto;
  object-fit: cover;
}

.skills-container {
  position: relative;
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  display: flex;
  padding: 5rem;
  gap: 4rem;
}

.skills-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/bckgnd.jpg');
  background-size: cover;
  background-position: center 70%;

  opacity: 0;
  /* animation */
  animation: parallaxFade 10.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  z-index: 0;
}

@keyframes parallaxFade {
  from {
    opacity: 0;
    transform: translateY(-40px) scale(1.05);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.skills-container > * {
  position: relative;
  z-index: 1;
}

footer {
  background: #201e2c;
  text-align: center;
  padding: 40px 0px 40px 0px;
  color: #fff;
}

h3 {
  font-size: 25px;
  line-height: 1;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 1rem;
}

p {
  font-size: 20px;
  line-height: 1;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 5rem;
}

ul {
  padding-left: 15px;
  list-style-type: circle;
  margin-bottom: 20px;
}

.duck {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
