@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

header {
  background: #eee;
  margin: 0rem;
  padding: 1rem;
}

main {
  background: #aca4a4;
  padding: 1rem;
}

section {
  background: #eee;
  margin: 1rem;
  padding: 1rem;
}

footer {
  background: #ada6a6;
  padding: 01rem;
}

/* 
#welcome {}
#skills {} 
#contact {} 
*/

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
}

.duck {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}