@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* :root is equal to html element */
/* TODO: define -> global font, colour, line height */
:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #333333;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  /* width: 100%;       */
  max-width: 1280px;
  background-color: #ededed;
}

header {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

/* background image -> ::before */
header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('./assets/header.jpg');
  background-size: cover;
  background-position: center 70%;

  /* intial state */
  opacity: 0;
  transform: scale(1.25);

  /* animation */
  animation: fadeZoomBG 6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  z-index: -1;
}

header > * {
  position: relative;
  z-index: 1;
}

@keyframes fadeZoomBG {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

main {
  background: rgb(250, 255, 255);
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
}

section {
  /* background: #eee; */
  margin: 1rem;
  padding: 1rem;
}

.welcome-education-container {
  display: flex;
  /* gap: 5rem; */
  /* gap: clamp(1rem, 5vw, 5rem); */
  /* background-color: aqua; */
}

#welcome {
  flex: 8;
  /* background-color: antiquewhite; */
}

#education {
  flex: 5;
  /* background-color: antiquewhite; */
}

#profil {
  flex: 6;
  /* background-color: antiquewhite; */
}

#profil img {
  display: block;
  margin: 0;
  width: 250px;
  height: auto;
  object-fit: cover;
}

footer {
  background: #201e2c;
  text-align: center;
  padding: 40px 0px 40px 0px;
  color: #fff;
}

h1 {
  /* font-size: 3.2em; */
  font-size: 82px;
  line-height: 1;
  font-weight: 100;
}

h2 {
  font-size: 35px;
  line-height: 1;
  font-weight: 100;
  font-style: italic;
}

h3 {
  font-size: 25px;
  line-height: 1;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 1rem;
}

ul {
  padding-left: 15px;
  list-style-type: circle;
  margin-bottom: 20px;
}

.duck {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
