/* 576px; // Phones 
768px; // Tablets 
992px; // Laptops 
1200px; // Desktops 
1400px; // Large Screens  */

/* =====================
   Laptops
  ===================== */
@media screen and (min-width: 992px) {
  /* =====================
   Main Content
  ===================== */
  .welcome-education-profile-container {
    flex-direction: column;
    position: relative;
    padding: 5rem;
  }

  #welcome {
    order: 2;
    padding-right: 34%;
  }

  #welcome p {
    text-align: left;
    text-align-last: auto;
  }

  #education {
    order: 3;
  }

  #profile {
    order: 1;
    position: absolute;
    top: -50px;
    right: 7rem;
    width: 250px;
    z-index: 2;
  }

  #profile img {
    max-width: 250px;
    width: 100%;
    height: auto;
  }

  #welcome p {
    /* font-size: 1.375rem; */
    line-height: 1.65; /* TODO: */
  }

  .welcome-text {
    display: block; /* optional */
  }

  .welcome-text p {
    display: inline; /* Absätze inline machen */
    margin: 0; /* Abstände entfernen */
  }

  /* Optional: kleine Trennung */
  .welcome-text p + p::before {
    content: ' '; /* Leerzeichen zwischen ursprünglichen Absätzen */
  }

  /* =====================
   Skills
  ===================== */
  .skills-columns {
    display: flex;
    gap: 40px; /* Abstand zwischen den Spalten */
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column; /* die Elemente in der Spalte rutschen nach oben */
    gap: 24px; /* Abstand zwischen Sections */
    list-style: none;
    padding: 0;
  }

  .skills-container {
    padding: 3rem 2rem 3rem 4rem;
  }

  /* =====================
   Contact
  ===================== */
  .contact h1 {
    font-size: var(--font-size-xxl);
  }

  .contact h2 {
    font-size: var(--font-size-xl);
  }
}
